config USR_LIB_HMAC
  bool  "userspace HMAC cryptographic library support"
  default y
  select USR_LIB_SIGN
  ---help---
  Support for HMAC libarary in userspace.
config USR_LIB_HMAC_CFLAGS
  string
  default " -I../../libs/hmac " if USR_LIB_HMAC


